<h1>VIDEO CHAT OCCURS HERE, @SESSION PASSED IN</h1>
<p><%= @session.participant_one.username %> <%= @session.participant_two.username %></p>
<p>Next step in flow = ending chat redirects to rating page/popup</p>
