<div class="video-call w-100 h-100 d-flex flex-column align-items-center justify-content-start"
      data-controller="video-call"
      data-video-call-access-token-value="<%= @twilio_jwt %>"
      data-video-call-room-id-value="<%= @room_id %>"
      data-video-call-buddy-video-width-value="auto" data-video-call-target="mainContainer">
  <div class="call-video-views d-none" data-video-call-target="videoContainer">
    <div id="remote-video" data-video-call-target="buddyVideo"></div>
    <div id="local-video" data-video-call-target="localVideo"></div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-around h-75 w-75" data-video-call-target="container">
    <h1 class="text-center" data-video-call-target="header">Lounge found!</h1>
    <div class="button-container" data-video-call-target="containerTwo">
      <div class="btn-orange" data-action="click->video-call#joinCall" data-video-call-target="joinCallButton">I'm ready</div>
      <div class="btn-orange" data-action="click->video-call#endCall" data-video-call-target="endCallButton">I'm not ready</div>
    </div>
  </div>
  <div class="btn-orange d-none w-75" data-video-call-target="finishButton">
    <%= link_to "Finish", review_new_path(@session) %>
  </div>
</div>
