// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$main-orange: #FF6C35; // strong orange for headers
$mid-blue: #1B659E;
$main-gray: #F5F7FB;
$main-blue: #004F89; // dark blue
