<h1> Your friends list </h1>
<ol>
  <li><% @friendships_and_buddies.each do |friend| %>
    <% @user = User.find(friend[:buddy].id) %>
    <%= link_to friend[:buddy].first_name + " " + friend[:buddy].last_name, user_path(@user) %>
    Status: <%= friend[:friendship].status %>
  <% end %></li>
</ol>
