<!--
<% if user_signed_in? %>
    <h4>Friends</h4>
    <div class="list-group">
      <% @users.each do |user| %>
        <% if user != current_user%>
          <%= link_to user.first_name, sessions_show_path(user), class: 'list-group-item list-group-item-action' %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>You need to sign in to see this content</p>
  <% end %>
</div>
-->

<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-start">
  <div class="d-flex flex-column align-items-center justify-content-around h-75 w-75">
    <h1>Lingua Lounge</h1>
    <div class="button-container">
      <%= form_tag("/sessions", method: "post", class: "w-100") do %>
      <%= submit_tag("Enter Lounge", class: "btn-orange") %>
      <% end %>
      <%= link_to "My Friends", friendships_path, class: "btn-orange" %>
    </div>
  </div>
</div>
