<!--
<% if user_signed_in? %>
    <h4>Friends</h4>
    <div class="list-group">
      <% @users.each do |user| %>
        <% if user != current_user%>
          <%= link_to user.first_name, sessions_show_path(user), class: 'list-group-item list-group-item-action' %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>You need to sign in to see this content</p>
  <% end %>
</div>
-->

<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-start">
  <h1>Lingua Lounge</h1>
  <div class="button-container">
    <%= form_tag("/sessions", method: "post") do %>
     <%= submit_tag("Enter Lounge") %>
    <% end %>
    <a href="#" class="btn-orange">Find a Lounge</a>
    <a href="#" class="btn-orange">Talk to a Friend </a>
  </div>
</div>

