
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
<h1>Lingua Lounge</h1>

<div class="button-container">
<a href="#" class="btn-orange">Find a Lounge</a>
<a href="#" class="btn-orange">Talk to a Friend </a>
</div>
</div>
