.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 20px;
  padding: 8px;
  min-height: 40px;
}

.sender-style {
  background-color: #F7C59F;
}

.receiver-style {
  background-color: #2069A0;
  color: white;
}
.chat{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.profile-pic {
  border-radius: 4px;
  width: 15%;
  height: 15%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.chat-header{
  padding: 10px;
  display: flex;
  color:  white;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #2069A0;
  p{
    margin-left: 10px;
  }
  a{
    color:  white;
    text-decoration: none;
  }
}

.lastmsg{
  margin-left: 10px;
  color: black;
  p{
    font-size: small;
    color: rgb(58, 58, 58);
  }
  .bud-name{
    font-size: large;
    color:  rgb(10, 10, 10);
    text-decoration: none;
  }
}

.submit-form {
  position: fixed;
  bottom: 45px;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 5px;
  box-sizing: border-box;
}
.send_btn{
  background-color: white;
  border: none;
  i{
    color: #2069A0;
    padding: 2px;
  }
}
.messages{
  // background-color: #F7C59F;
  position: relative;
  overflow: hidden;
}
