.custom-navbar {
  justify-content: space-between;
  background: rgb(212, 212, 212);
  display: flex;
  align-items: center;
  border: 3px solid white;
  margin: 12px 10px;
  border-radius: 22px;
  box-shadow: 0px 3px 10px rgb(48, 48, 48);
  padding: 0px 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 95%;
}

.custom-navbar-text {
  font-size: 10px;
  margin: 2px 0px;
  padding: 0px;
  font-weight: bold;
  color: $main-blue;
}

.custom-navbar-icon {
  margin: 2px 0px;
  i {
    color: $main-blue;
  }
}

.custom-navbar-border-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 2.5px #F99417;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
}

.custom-navbar-no-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
