// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";
@import "tom-select/dist/scss/tom-select";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";

body {
  width: 100vw;
  background-color: $main-gray !important;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: $main-orange;
  font-weight: bold !important;
  font-size: 48px;
}

h2, h3, h4, h5, p, a, button {
  font-family: 'Poppins', sans-serif;
  color: $main-blue;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}
